@import "~bootstrap/scss/bootstrap";
@import "./../../custom.scss";

.logo {
    width: 8rem; 
}
.logo img {
    width: 100%; 
}
.nav-item {
    padding: 0 1em; 
    text-decoration-style: none; 
    color: $font-light; 
}
.nav-item:hover {
    color: $contrast-color; 
}

/* Burger Nav */ 
#burger-icon, #burger-toggler {
    background-color: $body-bg-border; 
    border: none; 
    text-align: right;
}